/* 게시글 테이블 제목 */
#article-table > thead a {
  text-decoration: none;
  color: black;
}

/* 컬럼 너비 및 스타일 조정 */
#article-table .title {
  width: 30%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#article-table .content {
  width: 25%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#article-table .user-id {
  width: 15%;
}

#article-table .created-at {
  /* width: 30%; */
  font-size: 1.1em;
}
