<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Uno Kim" />
  <title>게시판 페이지</title>

  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
  />
  <link href="/css/search-bar.css" rel="stylesheet" />
  <link href="/css/articles/table-header.css" rel="stylesheet" />
</head>

<body>
<header id="header">
  헤더 삽입부
  <hr />
</header>

<main class="container">
  <div class="row">
    <table class="table" id="article-table">
      <thead>
      <tr>
        <th class="title col-6"><a>제목</a></th>
        <th class="content col-6"><a>본문</a></th>
        <th class="user-id"><a>작성자</a></th>
        <th class="created-at"><a>작성일</a></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="title"><a>첫글</a></td>
        <td class="content">본문</td>
        <td class="user-id">Uno</td>
        <td class="created-at"><time>2022-01-01</time></td>
      </tr>
      <tr>
        <td class="title"><a>두번째글</a></td>
        <td class="content">본문</td>
        <td class="user-id">Uno</td>
        <td class="created-at"><time>2022-01-02</time></td>
      </tr>
      <tr>
        <td class="title"><a>세번째글</a></td>
        <td class="content">본문</td>
        <td class="user-id">Uno</td>
        <td class="created-at"><time>2022-01-03</time></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-primary me-md-2" role="button" id="write-article">글쓰기</a>
    </div>
  </div>
</main>

<footer id="footer">
  <hr />
  푸터 삽입부
</footer>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
></script>
</body>
</html>